[data-vegetal]{
	color:green;
	font-weight: bold;
}
[data-meat]{
	color:brown;
	font-weight: bold;
}
#explicacion{
	background: #276DDF;
	color:white;
	padding: 10px;

}
#final{
	background: #276DDF;
	color:white;
	padding: 10px;
}
img{
	margin: 10px;
	width: 200px;
}
body{
	background: #DAF5BF;
}